/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12 janv. 2023, 18:14:51
    Author     : jonat
*/

.container-cal{
    // margin: 0 auto;
    max-width: calc(100% - 4.5em);
    width: 100%;
    height: 100%;
}


.fc-col-header {
    margin-bottom: 0;
}


.container-menu {
    height: 100vh;
}
.side-nav,
.nav-menu {
    height: 100%;
}
.side-nav .nav-menu {
    list-style: none;
    padding: 40px 0;
    width: 200px;
    background-color: #4acaa8;
}
.side-nav .nav-item {
    position: relative;
    padding: 10px 20px;
}
.nav-item.active {
    background-color: #fff;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}
.nav-item.active a {
    color: #4acaa8;
}
.nav-item a {
    text-decoration: none;
    color: #fff;
}
.menu-text {
    padding: 0 20px;
}
.side-nav .nav-item.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 20px 0 0 #fff;
}
.side-nav .nav-item.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 100%;
    right: 0;
    height: 150%;
    width: 20px;
    border-top-right-radius: 25px;
    box-shadow: 0 -20px 0 0 #fff;
}

.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px 3px 3px 3px;
}
.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}